<!-- Row -->
<div class="row">

    <div class="col-lg-3 col-6">
        <!-- total de peddos small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>{{nro}}</h3>
                <p>Pedidos</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            {{!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> --}}
        </div>
    </div>
    <div class="col-lg-3 col-6">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>
                    <script>
                        var total = 0;
                        {{#each lista }}
                        total += {{ this.total }};
                        {{/each}}
                          document.write('$ ' + total);
                    </script>
                    <sup style="font-size: 20px">%</sup></h3>
                <p>Ingresos</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            {{!-- <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a> --}}
        </div>
    </div>
    <!-- fin de calcular el total de imgresos -->
</div>
<!-- Row -->
<!-- RESERVAS-->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Pedidos
            </div>
        </div>
        <!-- /.card -->
        <div class="card">
            <div class="card-header bg-dark text-white">
                <h3 class="card-title">Lista de Pedido</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-striped order-column" id="tablapedido">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Numero pedido</th>
                            <th>Nombres</th>
                            <th>Fecha</th>
                            <th>Total</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each lista as |listaPedido i|}}
                        <tr>
                            <th scope="row">
                                {{i}}
                            </th>
                            <td>
                                {{listaPedido.external_id}}
                            </td>
                            <td>
                                {{listaPedido.persona.nombres}} {{listaPedido.persona.apellidos}}
                            </td>
                            <td>
                                {{listaPedido.fecha_pedido}}
                            </td>
                            <td>
                                {{listaPedido.total}}
                            </td>
                            <td>
                                <div class="btn-group">
                                    <a href="#" data-tooltip="tooltip" data-placement="top" title="Editar" class="btn btn-primary btn-sm" onclick="AgregarArticulo1('{{listaPedido.external_id}}')"><i class="far fa-plus-square"></i></i></a>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>