<div class="main-principal"></div>
<div class="container">
    <section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-2">{{title}} </h3>
            <p>
                <a class="btn btn-primary" data-toggle="collapse" href="#Categoria" role="button" aria-expanded="false"
                    aria-controls="collapseExample">
                    Categoria
                </a>
            </p>
            <div class="col-md-6">
                <div class="collapse" id="Categoria">
                    <div class="card card-body">
                        <div class="card">
                            <div class="card-header bg-danger text-white">
                                Listado de Categoria
                                <a href="#" class="btn btn-primary btn-sm" data-toggle="modal"
                                    data-target="#agregarCategoria">NUEVO</a>
                            </div>
                            <div class="card-body" style="background: #EFF7F1">
                                <div id="mensajeDesactiva" class="col-md-6"> </div>
                                <div class="table-responsive">
                                    <table id="tablaC" class="table ">
                                        <thead>
                                            <tr>
                                                <th>Nro</th>
                                                <th>Nombre</th>
                                                <th>Estado</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each lista as |listado i|}}
                                            <tr>
                                                <th scope="row">
                                                    {{i}}
                                                </th>
                                                <td>
                                                    {{listado.nombre}}
                                                </td>
                                                <td>
                                                    {{#if listado.estado}}
                                                    <span class="badge badge-success">Activo</span>
                                                    {{else}}
                                                    <span class="badge badge-danger">Inactivo</span>
                                                    {{/if}}
                                                </td>
                                                <td>
                                                    <div class="btn-group">
                                                        <a href="#" data-toggle="modal" data-target="#actualizarCategoria" data-tooltip="tooltip" data-placement="top" title="Editar" class="btn btn-primary btn-sm" onclick="cargardatosCategoria('{{listado.external_id}}')"><i class="far fa-edit"></i></a>
                                                    </div>
                                                    <div class="btn-group">
                                                        {{#if listado.estado}}
                                                        <a href="#" data-tooltip="tooltip" data-placement="top" title="Desactivar" class="btn btn-danger btn-sm" onclick="desactivarPersona('{{listado.external_id}}')"><i class="fas fa-unlock-alt"></i></a>
                                                        {{else}}
                                                        <a href="#" data-tooltip="tooltip" data-placement="top" title="Acivar" class="btn btn-danger btn-sm" onclick="desactivarPersona('{{listado.external_id}}')"><i class="fas fa-lock"></i></a>
                                                        {{/if}}
                                                    </div>
                                                </td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{> 'categoria/agregarCategoria'}}
                {{> 'categoria/modificarCategoria'}}
            </div>

            <div>&nbsp</div>
           {{> msg }}
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Listado de Articulos <a href="#" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#agregarArticulo">NUEVO</a>
                </div>
                <div class="card-body" style="background: #EFF7F1">
                    <div class="table-responsive">
                        <table id="tablaA" class="table ">
                            <thead>
                                <tr>
                                    <th>Nro</th>
                                    <th>Nombre</th>
                                    <th>Categoria</th>
                                    <th>Stock</th>
                                    <th>Precio</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody id="articulos">
                                {{#each listaA as |listadoAr i|}}
                                <tr>
                                    <th scope="row">
                                        {{i}}
                                    </th>
                                    <td>
                                        {{listadoAr.nonbre}}
                                    </td>
                                    <td>
                                        {{listadoAr.categoria.nombre}}
                                    </td>
                                    <td>
                                        {{listadoAr.stok}}
                                    </td>
                                    <td>
                                        {{listadoAr.precio}}
                                    </td>
                                    <td>
                                        {{#if listadoAr.estado}}
                                        <span class="badge badge-success">Activo</span>
                                        {{else}}
                                        <span class="badge badge-danger">Inactivo</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                         <div class="btn-group">
                                            <a href="#" data-toggle="modal" data-target="#modificarArticulo" data-tooltip="tooltip" data-placement="top" title="Editar" class="btn btn-primary btn-sm" onclick="cargardatosArticulo('{{listadoAr.external_id}}')"><i class="far fa-edit"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            {{#if listadoAr.estado}}
                                             <a href="#" data-tooltip="tooltip" data-placement="top" title="Desactivar" class="btn btn-danger btn-sm" onclick="desactivarArticulo('{{listadoAr.external_id}}')"><i class="fas fa-unlock-alt"></i></a>
                                             {{else}}
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Acivar" class="btn btn-danger btn-sm" onclick="desactivarArticulo('{{listadoAr.external_id}}')"><i class="fas fa-lock"></i></a>
                                            {{/if}}
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
              {{> 'articulo/agregarArticulo'}}
    
        </div>
        {{> 'articulo/modificarArticulo'}}
    </section>
</div>
</div>