
<section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-2">{{title}} </h3>
        <p>
            <a class="btn btn-primary" data-toggle="collapse" href="#Categoria" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                Categoria
            </a>
        </p>
        <div class="col-md-6">
            <div class="collapse" id="Categoria">
                <div class="card card-body">
                    <div class="card">
                        <div class="card-header bg-danger text-white">
                            Listado de Categoria
                            <a href="#" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#agregarCategoria">NUEVO</a>
                        </div>
                        <div class="card-body" style="background: #EFF7F1">
                            <div class="table-responsive">
                                <table id="tablaC" class="table ">
                                    <thead>
                                        <tr>
                                            <th>Nro</th>
                                            <th>Nombre</th>
                                            <th>Estado</th>
                                            <th>Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each lista as |listado i|}}
                                        <tr>
                                            <th scope="row">
                                                {{i}}
                                            </th>
                                            <td>
                                                {{listado.nombre}}
                                            </td>
                                            <td></td>
                                            <td>
                                                 <div class="btn-group">
                                                    <a href="#" data-toggle="modal" data-target="#actualizarCategoria"  data-tooltip="tooltip" data-placement="top" title="Editar" class="btn btn-primary" onclick="cargardatosCategoria('{{listado.external_id}}')"><i class="far fa-edit"></i></a>
                                                </div>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{> 'categoria/agregarCategoria'}}
            {{> 'categoria/modificarCategoria'}}
        </div>

        <div>&nbsp</div>
        <div class="card">
            <div class="card-header bg-dark text-white">
                Listado de Articulos <a href="#" class="btn btn-primary btn-sm" data-toggle="modal"
                    data-target="#agregarArticulo">NUEVO</a>
            </div>
            <div class="card-body" style="background: #EFF7F1">
                <div class="table-responsive">
                    <table id="tablaA" class="table ">
                        <thead>
                            <tr>
                                <th>Nro</th>
                                <th>Nombre</th>
                                <th>Categoria</th>
                                <th>Stock</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="articulos">
                            {{#each listaA as |listadoAr i|}}
                            <tr>
                                <th scope="row">
                                    {{i}}
                                </th>
                                <td>
                                {{listadoAr.nonbre}}
                                </td>
                                <td>
                                {{listadoAr.categoria.estado}}
                                </td>
                                <td>
                                {{listadoAr.stok}}
                                </td>
                                <td>
                                {{listadoAr.precio}}
                                </td>
                                <td>
                                {{listadoAr.estado}}
                                </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{> 'articulo/agregarArticulo'}}
    </div>
</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>