<!-----------Select------------------------>
<link href="assetsClie/select2/css/select2.min.css" rel="stylesheet" />
<script src="assetsClie/select2/js/select2.min.js"></script>
<script type="text/javascript" src="/javascripts/factura.js"></script>
<script type="text/javascript">

    $(function () {
        fechaActual();
        $("#selectCli").select2({
            placeholder: "Busca el cliente",
            allowClear: true
        });

        $('#selectCli').change(function () {
            var datos = $('#selectCli').val();
            var arreglo = datos.split('/');
            if (datos != "") {
                $('#txtcedulaF').val(arreglo[6]);
                $('#externalCliente').val(arreglo[0]);
                $('#txtnombresF').val(arreglo[1] + " " + arreglo[2]);
                $('#txtdireccionF').val(arreglo[3]);
                $('#txttelefonoF').val(arreglo[4]);
                $('#txtcorreoF').val(arreglo[5]);
                //console.log(arreglo);
            } else {
               $('#txtcedulaF').val("");
                $('#externalCliente').val("");
                $('#txtnombresF').val("");
                $('#txtdireccionF').val("");
                $('#txttelefonoF').val("");
                $('#txtcorreoF').val("");
            }
        });

        
    });

</script>
{{> 'vistaAdministrador/Factura/modalArticulo'}}
<!-- Main content -->

<div class="form-group col-md-6">
    <label for="">Buscar Cliente</label>
    <select class="form-control col-md-6" name="selectCli" id="selectCli">
        <option value="">Selecciona</option>
        {{#each listaCli as |cliente i|}}
        <option value="{{cliente.external_id}}/{{cliente.nombres}}/{{cliente.apellidos}}/{{cliente.direccion}}/{{cliente.telefono}}/{{cliente.cuenta.correo}}/{{cliente.cedula}}">{{cliente.cedula}} - {{cliente.nombres}} {{cliente.apellidos}}</option>
        {{/each}}
    </select>
</div>
<div class="invoice p-3 mb-3">
    <!-- title row -->
    <div class="row">
        <div class="col-12">
            <h4>
                <i class="fas fa-globe"></i> Factura. #{{nro}}
                <small class="float-right">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Fecha:</span>
                        <input type="text" class="form-control-sm col-md-4" id="fechaActual" readonly>
                    </div>
                </small>
            </h4>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-6 ">
            <strong>Datos Cliente</strong>
            <address>
                <input type="hidden" name="externalCliente" id="externalCliente">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Cedula:</span>
                        <input type="text" class="form-control-sm" placeholder="Cedula" name="txtcedulaF" id="txtcedulaF" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Nombres:</span>
                        <input type="text" class="form-control-sm" placeholder="Nombres" name="txtnombresF" id="txtnombresF" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Dirección:</span>
                        <input type="text" class="form-control-sm" placeholder="Dirección" name="txtdireccionF" id="txtdireccionF" readonly>
                    </div>
                </div>
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-6 ">
            <strong></strong><br>
            <address>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Telefono:</span>
                        <input type="text" class="form-control-sm" placeholder="Dirección" name="txttelefonoF" id="txttelefonoF" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-text form-control-sm bg-info">Correo:</span>
                        <input type="text" class="form-control-sm" placeholder="Dirección" name="txtcorreoF" id="txtcorreoF" readonly>
                    </div>
                </div>
            </address>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- Table row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-dark">
                    <div class="text-center font-weight-bold">
                        <strong>DETALLE FACTURA </strong> <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#listaProducto"><i class="far fa-plus-square"></i>Agregar producto</button>
                    </div>
                </div>
                <div class="card-footer">
                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>PRODUCTO</th>
                                <th>CANT.</th>
                                <th>STOCK</th>
                                <th>PRECIO UNIT.</th>
                                <th>PRECIO TOTAL.</th>
                                {{!-- <th>Accion</th> --}}
                            </tr>
                        </thead>
                        <tbody id="tbodyFac">
                            <!----Cargar datos de los productos------>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
        <!-- accepted payments column -->
        <div class="col-6">
            <p class="lead">
                Métodos de pago:</p>
            <img src="/assets/dist/img/credit/visa.png" alt="Visa">
            <img src="/assets/dist/img/credit/mastercard.png" alt="Mastercard">
            <img src="/assets/dist/img/credit/american-express.png" alt="American Express">
            <img src="/assets/dist/img/credit/paypal2.png" alt="Paypal">

            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                Texto
            </p>
        </div>
        <!-- /.col -->
        <div class="col-6">

            <div class="table-responsive">
                <table class="table table-sm">
                    <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td id="subtotal"><input type='text' value="0" name="subtotal" id="subtotalF" readonly ></td>
                    </tr>
                    <tr>
                        <th>Descuento</th>
                        <td id="descuento"><input type='text' value="0" name="subtotal" id="descuentoF" readonly ></td>
                    </tr>
                    <tr>
                        <th>IVA 12%:</th>
                        <td id="iva"><input type='text' value="0" name="subtotal" id="ivaF" readonly></td>
                    </tr>
                    <tr>
                        <th>Total:</th>
                        <td id="total"><input type='text' value="0" name="subtotal" id="totalF"  readonly></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-12">
            <button onclick="window.print();" class="btn btn-default"><i class="fas fa-print"></i> Print</button>
            <div id="errorCliente"></div>
            <button type="button" class="btn btn-success float-right"><i class="far fa-credit-card"></i> Metodos de Pago
            </button>
            <button type="button"  class="btn btn-primary float-right" onclick="guardarfactura()" style="margin-right: 5px;">
                <i class="fas fa-download"></i> Generar venta
            </button>
        </div>
    </div>
</div>
<!-- /.invoice -->