<section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <h3 class="title text-center mb-2">{{title}} </h3>
        <div class="card">
            <div class="card-header bg-secondary text-white">
                Listado de Servicios  <a href="#" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#agregarServicio">NUEVO</a>
            </div>
            <div class="card-body" style="background: #EFF7F1">

                <div class="table-responsive" >
                    <table id="tabla" class="table ">
                        <thead>

                            <tr>
                                <th>Nro</th>
                                <th>Nombre</th>
                                <th>Medida</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>

                        </thead>
                        <tbody>
                            {{#each listado as |listad i|}}
                            <tr>
                                <th scope="row">
                                    {{i}}
                                </th>
                                <td>{{listad.nombre}}</td>
                                <td>{{listad.medida}}</td>
                                <td>{{listad.precio}}</td>
                                <td>{{listad.estado}}</td>
                                <td>
                                    <a href="# " class="btn btn-primary btn-sm" 
                                       onclick=
                                           "$('#nombrem').val('{{listad.nombre}}'),
                                            $('#medidam').val('{{listad.medida}}'),
                                            $('#preciom').val('{{listad.precio}}'),
                                            $('#descripcionm').val('{{listad.descripcion}}'),
                                            $('#id').val('{{listad.id}}')
                                    
                                           "
                                       data-toggle="modal"data-target="#modificarServicio"> Modificar</a>
                                   
                                </td>
                            </tr>
                            {{/each}}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{> 'servicio/agregarServicio'}}
        {{> 'servicio/modificarServicio' }}
    </div>
</section>

<br>
<br>
<br>
<br>
<br>
<br>
<br>