<div class="main-principal"></div>
<div class="container">
    <section class="service py-lg-4 py-md-4 py-sm-3 py-3" id="service">
        <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
            <h3 class="title text-center mb-2">{{title}} </h3>
            {{> msg }}
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Listado de Servicios <a href="#" class="btn btn-primary btn-sm" data-toggle="modal"
                        data-target="#agregarServicio">NUEVO</a>
                </div>
                <div class="card-body" style="background: #EFF7F1">

                    <div class="table-responsive">
                        <table id="tabla" class="table ">
                            <thead>

                                <tr>
                                    <th>Nro</th>
                                    <th>Nombre</th>
                                    <th>Medida</th>
                                    <th>Precio</th>
                                    <th>Estado</th>
                                    <th>Acciones</th>
                                </tr>

                            </thead>
                            <tbody>
                                {{#each listado as |listad i|}}
                                <tr>
                                    <th scope="row">
                                        {{i}}
                                    </th>
                                    <td>{{listad.nombre}}</td>
                                    <td>{{listad.medida}}</td>
                                    <td>{{listad.precio}}</td>
                                    <td>
                                         {{#if listad.estado}}
                                        <span class="badge badge-success">Activo</span>
                                        {{else}}
                                        <span class="badge badge-danger">Inactivo</span>
                                        {{/if}}
                                    </td>
                                    <td>
                                       <div class="btn-group">
                                            <a href="#" data-toggle="modal" data-target="#modificarServicio" data-tooltip="tooltip" data-placement="top" title="Editar" class="btn btn-primary btn-sm" onclick="cargardatosServicio('{{listad.external_id}}')"><i class="far fa-edit"></i></a>
                                        </div>
                                        <div class="btn-group">
                                            {{#if listad.estado}}
                                             <a href="#" data-tooltip="tooltip" data-placement="top" title="Desactivar" class="btn btn-danger btn-sm" onclick="desactivarServicio('{{listad.external_id}}')"><i class="fas fa-unlock-alt"></i></a>
                                             {{else}}
                                            <a href="#" data-tooltip="tooltip" data-placement="top" title="Acivar" class="btn btn-danger btn-sm" onclick="desactivarServicio('{{listad.external_id}}')"><i class="fas fa-lock"></i></a>
                                            {{/if}}
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {{> 'servicio/agregarServicio'}}
            {{> 'servicio/modificarServicio' }}
        </div>
    </section>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>